body {
    background-color: lightskyblue;
    padding: 30px
}

.info h1 {
color: darkblue;
border: 2px solid darkblue;
text-align: center;
}

.info h2, .info h3{
    text-align: right;
}

.contact, .likes {
background-color: blue;
color: lightblue;
margin: 20px auto; /*x축, y축 각각 */
padding-bottom: 20px;
} 

#mid {
    background-color: white;
    color: blue;
    text-align: center;
}

.sns {
background-color: white;
text-align: center;
}

